<!DOCTYPE html>
<html>

<head>
  <title>BuildHub</title>

  <link rel="stylesheet" href="/static/css/dashboard.css">
  <link rel="stylesheet" href="/static/css/globals.css">
  <link rel="stylesheet" href="/static/css/global.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description"
    content="BuildHub helps developers learn by building real-world projects, earning XP, badges and proof of skill.">

  <meta name="keywords" content="BuildHub, coding projects, developer portfolio, student projects, coding practice">

  <meta name="author" content="BuildHub">

  <meta property="og:title" content="BuildHub">
  <meta property="og:description" content="Learn by Building Real Projects">
  <meta property="og:image" content="/static/images/logo.png">
  <meta property="og:type" content="website">
</head>

<body class="{{ user.theme if user.theme else 'light' }}">
  <header class="top-nav">

    <div class="nav-left">
      <a href="/dashboard" class="logo">
        <img src="/static/images/logo.png">
        <span>BuildHub</span>
      </a>
    </div>

    <div class="nav-right">
      <a href="/projects">Explore</a>
      <a href="/my_projects">My Work</a>
      <a href="/my_creations">My Creations</a>
      <a href="/leaderboard">Leaderboard</a>
    </div>

  </header>
  {% block content %}{% endblock %}

  <!-- GLOBAL JS -->
  <script src="/static/js/main.js"></script>

</body>

</html>